menu "Application Configuration"
    menuconfig LED_SUBSYSTEM
        prompt "LED Features to ease configuration"
        bool
        default n

    if LED_SUBSYSTEM
        choice LED_SUBSYSTEM_BLINK_SLEEP_TIME
            prompt "LED blink sleep time"
            default LED_SUBSYSTEM_BLINK_500MS

            config LED_SUBSYSTEM_BLINK_250MS
                bool "250ms (very fast)"

            config LED_SUBSYSTEM_BLINK_500MS
                bool "500ms (fast)"

            config LED_SUBSYSTEM_BLINK_1S
                bool "1s (medium)"

            config LED_SUBSYSTEM_BLINK_2S
                bool "2s (slow)"
        endchoice

        menuconfig LED_SUBSYSTEM_ADVANCED_SETTINGS
        prompt "Advanced LED settings."
        bool
        default n
        select PWM

        if LED_SUBSYSTEM_ADVANCED_SETTINGS
            config LED_SUBSYSTEM_ADV_BRIGHTNESS
                int "LED brightness (0-100) (%)"
                range 0 100
                default 100
            config LED_SUBSYSTEM_ADV_FADE_DURATION
                int "LED fade duration (ms)"
                range 0 500
                default 0
            config LED_SUBSYSTEM_EXPERT_SETTINGS
                bool
                default y if LED_SUBSYSTEM_ADVANCED_SETTINGS
                default n
                depends on LED_SUBSYSTEM_ADVANCED_SETTINGS
        endif
        menu "Expert Settings"
            visible if LED_SUBSYSTEM_EXPERT_SETTINGS
            config LED_SUBSYSTEM_DEBUG
                bool "Enable LED debugging"
                default n
            config LED_SUBSYSTEM_CUSTOM_PATTERN
                bool "Enable configuration for custom blink pattern"
                default n
        endmenu
        config LED_SUBSYSTEM_BLINK_PERIOD
            int
            range 250 2000
            default 250 if LED_SUBSYSTEM_BLINK_250MS
            default 500 if LED_SUBSYSTEM_BLINK_500MS
            default 1000 if LED_SUBSYSTEM_BLINK_1S
            default 2000 if LED_SUBSYSTEM_BLINK_2S
            default 0
    endif
endmenu

menu "Zephyr Configuration"
    source "Kconfig.zephyr"
endmenu